@import url('../include.less');

[role='vendor-listing'] {
	a {
		color           : inherit;
		border-bottom   : none;
		text-decoration : none !important;
	}
	a.anchor {
		display    : block;
		position   : fixed;
		top        : 0;
		visibility : hidden;
	}

	h2 {
		margin              : 0;
		color               : @brand6;
		font-size           : 1.5em;
		border-bottom-color : currentColor;
		position            : relative;


		a {

			color       : @brand6;
			font-family : @heading_font1;

			&:before {
			  content: " " !important;
			  background: url("../../images/plus.png") no-repeat !important;
				display       : inline-block !important;
				text-align    : center;
				line-height   : 18px;
				width         : 18px;
				height        : 18px;
				padding-left  : 1px;
			  margin-top: 3px;
				font-size     : 0.3em;
				border-radius : 5px;
				position      : absolute;
				left          : -30px;
				top           : 5px;
				color         : white;
				background    : @brand6;
				font-family   : 'icomoon-ultimate';
			}
		}
	}

	ul {
		list-style   : none;
		padding-left : 30px;
	}

	li, span {
		:before {
			display: none !important;
		}
		&.province-name {
			strong {
				font-size     : 1.15em;
				display       : inline-block;
				margin-bottom : 0.75em;
			}
		}
	}

	li.country ul {
		max-height   : 0em;
		overflow     : hidden;
		padding-left : 0;
		-moz-transition    : max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
		-ms-transition     : max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
		-o-transition      : max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
		-webkit-transition : max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
		transition         : max-height 0.5s cubic-bezier(0, 1.05, 0, 1);

		li.vendor {

			p {
				margin : 0 0 1em;
			}
			span.blue {
				color : @blue;
			}
			//			white-space : pre-line;

			a {
				position: relative;
				&:extend(.defaultALink);
				font-size : 0.8em;
				&, &:hover {
					text-decoration : none;
				}
				&:hover {
					color        : @blue;
					border-color : @blue;
				}
			}
		}

		li:before {
			display : none;
		}
	}

	a.close-collapse {
		display: none;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}

	a:target {

		& + h2 {
			border-bottom-color : @link;
			a {
				color : @link;

				&:before {

				  content: "";
				  background: url("../../images/minus.png") !important;
				}
			}

			a.close-collapse {
				display: block;
			}

			& + ul {
				max-height : 100em;
				-moz-transition    : max-height 0.5s;
				-ms-transition     : max-height 0.5s;
				-o-transition      : max-height 0.5s;
				-webkit-transition : max-height 0.5s;
				transition         : max-height 0.5s;
			}
		}
	}

}

#main-content [role='vendor-listing'] {
	ul.countries {
		li {
			color         : @black;
			// To many li margins are compounding, need to reduce them
			// This will apply to vendors ul too, which we want, so we can customize where we want one
			margin-bottom : 0;

		  
		}
		li.country {
			margin-bottom : 1.5em;
		  &:before {
			display: none !important;
		  }

		}
	}

	ul.vendors {
		font-size : 1em;

		li {
			padding-top : 0.75em;
			//			white-space : normal;
			font-size   : 0.85em;
			&:nth-child(even) {
				clear: both;
			}
		}
	}

}
