<div role="vendor-listing" class="listing">
	<ul class="countries">
		{% for country,distributor  in distributors %}

			<li class="country">
				<a id="country-{{loop.index}}" class="anchor"></a>

				<h2 class="heading"><a href="#country-{{loop.index}}">{{country|raw}}</a><a href="#close" class="close-collapse"></a></h2>

				<ul class="vendors row">

					{% for province_name,province in distributor %}
						{% if province_name != "empty" and province|length >1 %}
							<li class="col-sm-12 province-name"><strong>{{province_name}}</strong></li>
						{% endif %}
						{% for single in province %}
							<li class="vendor col-sm-{% if single.size == 'Full Width' %}12{% else %}6{% endif %}"><p>
									{% if province_name != "empty" and province|length == 1 %}
										<span class="province-name"><strong>{{province_name}}</strong></span><br>
									{% endif %}
									<span class="blue">{{single.post_title}}</span><br>
									{{single.post_content|raw|nl2br}}<br>
									{% if single.email %}
										email: <a href="mailto:{{single.email}}">{{single.email}}</a><br>
									{% endif %}
									{% if single.website %}
										website: <a href="{{single.website}}" target="_blank">{{single.website}}</a><br>
									{% endif %}</p>
							</li>
						{% endfor %}
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>

	{{post_list_content|raw}}
</div>
