<section role="content">
	{% for post in posts %}
		<article class="post post-{{post.ID}} post-{{post.post_name}}">
			<h2 role="post-title"><a href="{{post.permalink}}">{{post.post_title}}</a></h2>

			<p>{{post.post_content|raw}}</p>
		</article>
	{% endfor %}
</section>
