<div id="google_translate_element"></div>
<script type="text/javascript">
	function googleTranslateElementInit() {
		new google.translate.TranslateElement( {
			pageLanguage : 'en',
			layout       : google.translate.TranslateElement.InlineLayout.SIMPLE,
			autoDisplay  : false
		}, 'google_translate_element' );
	}
</script>
<script async type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
