<section role="sidebar">
    <div class="holder">
        {% if tooltip and showTooltip %}
            <img data-param="tooltip" src="{{ tooltip }}"/>
        {% endif %}
        <div data-param="title">
            {{ title }}
        </div>
        <p data-param="content">
            {{ content|raw }}
        </p>
        {% if buttonLabel %}
            <a data-param="button" class="button" href="{{ buttonUrl }}">
                {{ buttonLabel|raw }}
            </a>
        {% else %}
            <br>
        {% endif %}
        {% if(contentAfterButton) %}
            <p data-param="contentAfterButton">
                {{ contentAfterButton|raw }}
            </p>
        {% endif %}
    </div>
</section>
