.responsiveslides-container {
	position      : relative;
	margin-bottom : 40px;
	[role='responsiveslides-body'] {
		&, ul, li {
			margin     : 0;
			padding    : 0;
			list-style : none;
		}

		width      : 100%;
		max-height : 500px;
		overflow   : hidden;
		position   : relative;
		[slide] {
			width : 100%;
			[role='slidecontent'] {
				position : absolute;
				top      : 0;
				left     : 0;
			}
		}
	}
	& > .rslides_nav {
		opacity  : 0;
		top      : 0%;
		position : absolute;
		z-index  : +2;
		&.prev {
			left : 5px;
		}
		&.next {
			right : 5px;
		}
		&:hover {
			opacity : 1;
		}
	}
	& > .rslides_tabs {
		@nav-width: 1em;
		position   : absolute;
		z-index    : +2;
		bottom     : 0;
		//margin-bottom:-1 * (@nav-width * 2.25) !important;
		width      : 100%;
		text-align : center;
		li {
			display : inline-block !important;
			width   : @nav-width;
			height  : @nav-width;
			margin  : 0 @nav-width / 4;
			a {
				height                : 100%;
				width                 : 100%;
				display               : block;
				text-indent           : -999px;
				overflow              : hidden;
				background            : #b2b2b2;
				border-radius         : @nav-width;
				-moz-border-radius    : @nav-width / 2;
				-webkit-border-radius : @nav-width / 2;
				border                : @nav-width / 10 solid transparent;
			}
			&.rslides_here, &:hover {
				a {
					background : #0f0;
				}
			}
		}
	}
}
