.responsiveslides-container {
  position: relative;
  margin-bottom: 40px;
}
.responsiveslides-container [role='responsiveslides-body'] {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.responsiveslides-container [role='responsiveslides-body'],
.responsiveslides-container [role='responsiveslides-body'] ul,
.responsiveslides-container [role='responsiveslides-body'] li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.responsiveslides-container [role='responsiveslides-body'] [slide] {
  width: 100%;
}
.responsiveslides-container [role='responsiveslides-body'] [slide] [role='slidecontent'] {
  position: absolute;
  top: 0;
  left: 0;
}
.responsiveslides-container > .rslides_nav {
  opacity: 0;
  top: 0%;
  position: absolute;
  z-index: 2;
}
.responsiveslides-container > .rslides_nav.prev {
  left: 5px;
}
.responsiveslides-container > .rslides_nav.next {
  right: 5px;
}
.responsiveslides-container > .rslides_nav:hover {
  opacity: 1;
}
.responsiveslides-container > .rslides_tabs {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.responsiveslides-container > .rslides_tabs li {
  display: inline-block !important;
  width: 1em;
  height: 1em;
  margin: 0 0.25em;
}
.responsiveslides-container > .rslides_tabs li a {
  height: 100%;
  width: 100%;
  display: block;
  text-indent: -999px;
  overflow: hidden;
  background: #b2b2b2;
  border-radius: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border: 0.1em solid transparent;
}
.responsiveslides-container > .rslides_tabs li.rslides_here a,
.responsiveslides-container > .rslides_tabs li:hover a {
  background: #0f0;
}
