<div class="responsiveslides-container">
	<ul role="responsiveslides-body" class="{{local.class}}">
		{% for slide in local.slides %}
			<li class="{{local.allclass}} {{slide.class}}" slide="{{slide.uid}}" id="{{slide.uid}}">
				<img src="{{slide.image}}" role="slideimage">

				<div role="slidecontent" class="container">
					<h3>{{slide.heading}}</h3>
					<h4>{{slide.subheading}}</h4>

					<div class="slide-content">
						{{slide.content}}
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
