<section role="staff-members">
	<div class="row">
		{% for staff_member in staff_members %}
			<div class="team-box team-holder col-md-4 col-sm-4 col-xs-6"><a
						href="/staff/{{staff_member.post_name}}"><img
							src="{{staff_member.thumbnail_image.guid}}" alt="cover_photo" class=""
							style=""></a>

				<p class="desc"><a href="/staff/{{staff_member.post_name}}"><span
								class="heading">{{staff_member.post_title}}</span><br><span
								class="bio">Read {{staff_member.first_name}}'s Bio</span></a><span class="email"><a
								href="/staff/{{staff_member.post_name}}/#modal-email-staff">Email</a></span></p>


			</div>
		{% endfor %}
	</div>
</section>
