@import url('../include.less');

[role='modal'], {
	.modal-dialog:target {
		opacity        : 1 !important;
		pointer-events : auto;
	}

	.modal-dialog {
		position           : fixed;
		margin             : 0;
		top                : 0;
		right              : 0;
		bottom             : 0;
		left               : 0;
		width              : 100%;
		height             : 100%;
		background         : rgba(0, 0, 0, 0.8);
		z-index            : 99999;
		opacity            : 0;
		-webkit-transition : opacity 400ms ease-in;
		-moz-transition    : opacity 400ms ease-in;
		transition         : opacity 400ms ease-in;
		pointer-events     : none;
	}

	.modal-dialog > div {
		width      : 47em;
		position   : relative;
		margin     : 10% auto;
		background : #fff;
	}

	.close {
		@size: 1.5em;
		opacity         : 1;
		background      : #606061;
		color           : #FFFFFF;
		line-height     : @size;
		position        : absolute;
		right           : -1 * (@size / 2);
		text-align      : center;
		top             : -1 * (@size / 2);
		width           : @size;
		height          : @size;
		text-decoration : none;
		font-weight     : bold;
		.close-label {
			margin-top  : -1 * (@size * 0.05);
			display     : block;
			font-size   : @size;
			font-weight : normal;
		}

		box-shadow      : none;
		border-radius   : 0.25em;
		background      : @brand1;
		&:hover {
			background : darken(@brand1, 15%);
			opacity    : 1;
		}
		&:before {
			content     : "\e36b";
			position    : absolute;
			left        : 50%;
			width       : 1.5em;
			margin-left : -0.75em;
			display     : block;
			font-size   : 0.5em;
			font-family : @fontFamilyIcomoon;

		}
	}

}

[role='modal'] {
	.modal-dialog {
		background : rgba(255, 255, 255, 0.8) !important;
	}

	.modal-panel {
		border           : 4px solid @modal_red;
		background-color : #fff;

		.panel-heading {
			padding : 0 15px;
			h2 {
				margin-top    : 0.75em;
				margin-bottom : 0.5em;
			}
		}
		.panel-body {
			padding-top : 0;
		}
	}
}

#modalCorporateVideo {
	[role='modal'] {
		.modal-dialog > div {
			width : 47em;
		}
	}
}
