<section role="modal">
	<div id="{{id}}" class="modal-dialog">
		<div class="modal-panel">
			<a href="#close" title="Close" class="close">
                <span class="close-label">
                </span>
			</a>
			<div class="panel-heading">
				<h2>{{title}}</h2>
			</div>
			<div class="panel-body">
				<h3>{{subtitle}}</h3>
				{{content|raw}}
			</div>
		</div>
	</div>
</section>
