<section role="press-release">
	<div class="">
			{% for entry in entries %}
				<h2>{{entry.title}}</h2>
				<p class="date">
					{{entry.date}}
				</p>
				<p><a target="_blank" href="{{entry.pdf}}">Download Vending Times Press Release</a></p>
			{% endfor %}
	</div>
</section>