<section role="content">
	{% for post in posts %}
		<article class="post post-{{post.ID}} post-{{post.post_name}}">
			{% if post.post_content %}
				<small class="posted-on">Posted on {{post.post_date}} by {{post.post_author.display_name}}</small>
				<small class="updated-on">Updated on {{post.post_modified}} by {{post.post_author.display_name}}</small>
				<p>{{post.post_content|raw}}</p>
				{{post.comment_status|comments}}
			{% endif %}
		</article>
	{% endfor %}
</section>
