<section role="industry-associations">
	<div class="row entries">
		<div class="col-12">
			{% for entry in entries %}
				{% if entry.title %}
					<div class="entry row">
						<aside class=" col-3">
							<img src="{{entry.logo}}" alt="" />
						</aside>
						<article class="content col-9">
							<h2>{{entry.title|raw}}</h2>

							<div class="body">
								{{entry.content|raw}}
							</div>
						</article>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>