.responsiveslides-container {
  z-index: 0;
  position: relative;
}
.responsiveslides-container [role='responsiveslides'] {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.responsiveslides-container [role='responsiveslides'],
.responsiveslides-container [role='responsiveslides'] ul,
.responsiveslides-container [role='responsiveslides'] li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.responsiveslides-container [role='responsiveslides'] .slides-container {
  width: auto;
  display: block;
  margin: 0 auto;
}
.responsiveslides-container [role='responsiveslides'] [slide] {
  width: 100%;
}
.responsiveslides-container [role='responsiveslides'] [slide] [role='slideimage'] {
  width: auto;
  display: block;
  margin: 0 auto;
}
.responsiveslides-container [role='responsiveslides'] [slide] [role='slidecontent'] {
  position: absolute;
  top: 0;
  left: 0;
}
.responsiveslides-container > .rslides_nav {
  opacity: 1;
  top: 0%;
  position: absolute;
  z-index: 2;
  text-indent: -9999px;
}
.responsiveslides-container > .rslides_nav.prev {
  left: 50%;
  margin-left: -588px;
  margin-top: 270px;
}
.responsiveslides-container > .rslides_nav.next {
  right: 50%;
  margin-right: -588px;
  margin-top: 270px;
}
.responsiveslides-container > .rslides_nav:hover {
  opacity: 1;
}
.responsiveslides-container > .rslides_tabs {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 33%;
  margin-left: 33%;
  text-align: center;
}
.responsiveslides-container > .rslides_tabs li {
  display: inline-block !important;
  width: 1em;
  height: 1em;
  margin: 0 0.25em;
}
.responsiveslides-container > .rslides_tabs li a {
  height: 100%;
  width: 100%;
  display: block;
  text-indent: -999px;
  overflow: hidden;
  background: #b2b2b2;
  border-radius: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border: 0.1em solid transparent;
}
.page:not(.home) [slide],
.single [slide] {
  background-size: 91% !important;
}
.page:not(.home) [slide] .slide-container,
.single [slide] .slide-container {
  padding: 0 !important;
}
.page:not(.home) [slide] .slide-container img,
.single [slide] .slide-container img {
  width: 100% !important;
}
