.responsiveslides-container {
	z-index: 0;
	position : relative;
	[role='responsiveslides'] {
		&, ul, li {
			margin     : 0;
			padding    : 0;
			list-style : none;
		}
		width      : 100%;
		max-height : 500px;
		overflow   : hidden;
		position   : relative;

		.slides-container {

			width   : auto;
			display : block;
			margin  : 0 auto;

		}

		[slide] {
			width              : 100%;
			//background         : url('../../images/billboard/background-texture.png') center top;

			[role='slideimage'] {
				width   : auto;
				display : block;
				margin  : 0 auto;


			}

			[role='slidecontent'] {
				position : absolute;
				top      : 0;
				left     : 0;
			}
		}
	}
	& > .rslides_nav {
		opacity     : 1;
		top         : 0%;
		position    : absolute;
		z-index     : +2;
		text-indent : -9999px;
		&.prev {
			left        : 50%;
			margin-left : -588px;
			margin-top  : 270px;
		}
		&.next {
			right        : 50%;
			margin-right : -588px;
			margin-top   : 270px;
		}
		&:hover {
			opacity : 1;
		}
	}
	& > .rslides_tabs {

		@nav-width: 1em;
		position   : absolute;
		z-index    : +2;
		bottom     : 0;
		width: 33%;
		margin-left : 33%;

		//margin-bottom:-1 * (@nav-width * 2.25) !important;

		text-align : center;
		li {
			display : inline-block !important;
			width   : @nav-width;
			height  : @nav-width;
			margin  : 0 @nav-width / 4;
			a {
				height                : 100%;
				width                 : 100%;
				display               : block;
				text-indent           : -999px;
				overflow              : hidden;
				background            : #b2b2b2;
				border-radius         : @nav-width;
				-moz-border-radius    : @nav-width / 2;
				-webkit-border-radius : @nav-width / 2;
				border                : @nav-width / 10 solid transparent;
			}
		}
	}
}



.page:not(.home), .single {
	[slide] {
		background-size: 91% !important;
	 .slide-container {

		 padding : 0 !important;
		 img {
			 width: 100% !important;
		 }
	 }
	}
}
