<div class="responsiveslides-container">
	<ul role="responsiveslides" class="{{local.class}}">
		{% for slide in local.slides %}

			<li style="background-color: {{slide.color}}" class="{{local.allclass}} {{slide.class}}"
			    slide="{{slide.uid}}" id="{{slide.uid}}">
				<div class="slide-container container">
					<a {% if slide.link %} href="{{slide.link}}" {%  endif %} />
					<img alt="{{slide.alt}}" src="{{slide.image}}" role="slideimage">
					</a>
					<div role="slidecontent" class="container">
						<h3>{{slide.heading}}</h3>
						<h4>{{slide.subheading}}</h4>

						<div class="slide-content">
							{{slide.content}}
						</div>
					</div>
				</div>
			</li>

		{% endfor %}
	</ul>
</div>