<section role="content">

	{% for post in posts %}
		<article class="post post-{{post.ID}} post-{{post.post_name}}">
			{% if post.has_post_thumbnail %}
				<div class="thumbnail-wrapper">{{post.post_thumbnails.medium|raw}}</div>
			{% endif %}
			<h2 class="blog-post-title"><a href="{{post.guid}}" class="blog-link">{{post.post_title}}</a></h2>
				<small class="blog-posted-on">{{post.post_date|date("F d, Y")}}</small>
				<small class="updated-on">Updated on {{post.post_modified}} by {{post.post_author.display_name}}</small>

			{{post.post_content|raw}}
		</article>
	{% endfor %}
</section>
