<div class="panel-group" id="accordion" role="collapsible">
	<ol>
	{% for entry in entries %}
	<li>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{entry.id}}">
							{{entry.title|raw}}
						</a>
					</h4>
				</div>
				<div id="collapse{{entry.id}}" class="panel-collapse collapse">
					<div class="panel-body">
						{{entry.content|raw}}
						<a data-action="close" data-toggle="collapse" data-parent="#accordion"
						   href="#collapse{{entry.id}}">
							Close
						</a>
					</div>
				</div>
			</div>

	</li>
	{% endfor %}
	</ol>
</div>