@font_scale: 140%;
@font_size: 1em;
@line_height: @font_size * 1.4;

@body_font1: 'MyriadProRegular', Verdana, Geneva, sans-serif;
@body_font1_semibold: 'MyriadProSemibold', Verdana, Geneva, sans-serif;

@heading_font1: 'ChaparralProRegular', Georgia, "Times New Roman", Times, serif;
@heading_font1_bold: 'ChaparralProBold', Georgia, "Times New Roman", Times, serif;

@brand1: #c11b2b;
@brand2: #8859b9;
@brand3: #f19b1d;
@brand4: #ff6f30;
@brand5: #1f9b46;
@brand6: #248ab6;

@body: #59595b;
@body2: #a0a2a5;
@body5: #b2b2b2;
@body3: #999;
@body6: #ededed;
@body4: #fff;

@background: #f7f7f7;
@background2: #4d4d4e;
@background3: #373838;
@background4: #474747;
@background5: #efefef;
@background6: #0F5E91;

@border_color: @background2;
@border_width: @font_size * 0.1;

@input: @body6;
@input_stroke: @body3;
@input_color: @body;

@button: @brand5;
@button_stroke: @brand5;
@button_color: @body4;

@button_hover: @background4;
@button_hover_stroke: @background4;
@button_hover_color: @body4;

@button_active: @brand4;
@button_active_stroke: @brand4;

@list_bullet_color: @brand2;
@list_number_color: @brand2;

@stroke: @font_size * 0.1;
@stroke_style: solid;

@underline_spacing: @stroke;

@underline_style: @stroke_style;
@underline_size: @stroke;
@underline_color: @brand2;

@modal_red : #E41C3F;

@link: @body;
@link_underline: @underline_color;
@link_hover: @underline_color;
@link_hover_underline: @underline_color;

@transition_duration: 0.5s;
@transition_menu_duration: @transition_duration;
@transition_opacity_duration: @transition_duration;
@transition_background_duration: @transition_duration;
@transition_color_duration: @transition_duration / 2;

/******************
 FONTS
******************/

@fontFamilyIcomoon: 'icomoon-ultimate';
@fontFamilyMyriadProSemibold: @body_font1_semibold;
@fontFamilyMyriadProRegular: @body_font1;
@fontFamilyChaparralProRegular: @heading_font1;
@fontFamilyChaparralProBold: @heading_font1_bold;

@blue: @brand6;
@black: #000;
@font_grey: @background4;

/********************
* HEADER
******************/
@colorSearchButton: #e7e7e8;
@colorMenuNewBuyer: #c11b2b;
@colorMenuExperiencedBuyers: #8859b9;
@colorMenuBeaverAtHome: #f19b1d;
@colorMenuMachineOMatic: #ff6f30;
@colorMenuOEM: #1f9b46;
@colorGrey: #959595;
@colorFont: #414141;

/********************
* FORM
******************/
@colorFormElementsInContent : #ECEDED;
@colorFormFont: #474747;
@inputBackground: #eceded;
@inputIconBackground: #E2E3E4;

/********************
* Twig
******************/
@sidebarBackground: #ECECEC;
@historyLineBackground: #939598;

* {
	@transition: @transition_opacity_duration opacity ease,
	@transition_color_duration color ease,
	@transition_background_duration background-image ease,
	@transition_color_duration background-color ease;

	-moz-transition    : @transition;
	-webkit-transition : @transition;
	transition         : @transition;
}

#page-slider {
	@transition: @transition_menu_duration left ease;

	-moz-transition    : @transition;
	-webkit-transition : @transition;
	transition         : @transition;
}

.underline(){
//  display         : inline;
//  border-bottom   : @underline_size @underline_style @link_underline;
  text-decoration : underline;
//  padding-bottom  : @underline_spacing;
}

.link_underline() {
	display         : inline;
	padding-bottom  : @underline_spacing;

	text-decoration : none;

	color           : @link;
	border-bottom   : @underline_size @underline_style @link_underline;

	&:hover {
		text-decoration     : none;
		color               : @link_hover;
		border-bottom-color : @link_hover_underline;
	}
}

.no_link_underline() {
	text-decoration : none;

	border-bottom   : none;

	&:hover {
		text-decoration : none;
		border-bottom   : none;
	}
}

.border-reset(@width: 0.1em; @style: @stroke_style;) {
	border-width : @width;
	border-style : @style;
}

.border-radius(@radius: 0.5em) {
	border-radius : @radius;
}

.styled_button() {
	&:hover {
		color      : @body4;
		background : @button_hover;
		border     : @stroke @stroke_style @button_hover_stroke;
		outline    : none;
	}
	&:active, &:active:hover {
		color      : @body4;
		background : @button_active;
		border     : @stroke @stroke_style @button_active_stroke;
		outline    : none;
	}

	&, &:disabled, &:disabled:hover, &:disabled:active {
		color            : @body;
		background-color : @button;
		border           : @stroke @stroke_style @button_stroke;
		outline          : none;
		border-radius    : @font_size * 0.4;
		padding          : @font_size * .75 @font_size * 2.25;
		text-transform   : uppercase;
	}
	&:disabled {
		opacity : 0.75;
	}
}

.menu_drop_shadow() {
	background : -moz-linear-gradient(left, #474747 0%, rgba(71, 71, 71, 0) 50px, rgba(71, 71, 71, 0) 100%);
	background : -webkit-gradient(linear, left top, right top, color-stop(0%, #474747), color-stop(10px, rgba(71, 71, 71, 0)), color-stop(100%, rgba(71, 71, 71, 0)));
	background : -webkit-linear-gradient(left, #474747 0%, rgba(71, 71, 71, 0) 10px, rgba(71, 71, 71, 0) 100%);
	background : -o-linear-gradient(left, #474747 0%, rgba(71, 71, 71, 0) 10px, rgba(71, 71, 71, 0) 100%);
	background : -ms-linear-gradient(left, #474747 0%, rgba(71, 71, 71, 0) 10px, rgba(71, 71, 71, 0) 100%);
	background : linear-gradient(to right, rgba(71, 71, 71, 0.4) 0%, rgba(71, 71, 71, 0) 6px, rgba(71, 71, 71, 0) 100%);
}

.footer_drop_shadow() {
	background : -moz-linear-gradient(top, #474747 0%, rgba(71, 71, 71, 0) 50px, rgba(71, 71, 71, 0) 100%);
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(10px, rgba(71, 71, 71, 0)), color-stop(100%, rgba(71, 71, 71, 0)));
	background : -webkit-linear-gradient(top, #474747 0%, rgba(71, 71, 71, 0) 10px, rgba(71, 71, 71, 0) 100%);
	background : -o-linear-gradient(top, #474747 0%, rgba(71, 71, 71, 0) 10px, rgba(71, 71, 71, 0) 100%);
	background : -ms-linear-gradient(top, #474747 0%, rgba(71, 71, 71, 0) 10px, rgba(71, 71, 71, 0) 100%);
	background : linear-gradient(to bottom, rgba(71, 71, 71, 0.4) 0%, rgba(71, 71, 71, 0) 6px, rgba(71, 71, 71, 0) 100%);
}

body {
	background : @background;
	font-size  : @font_scale;
	color      : @body;
}

p {
	//	font-size : @font_size;
}

b, strong {
	font-size : @font_size;
}

i, em {
	font-size : @font_size;
}

ul {
	font-size : @font_size;
}

li {
	font-size : @font_size;
}

a {
	font-size : @font_size;
	&.close {
		.no_link_underline();
	}
}
//
//h1, .h1 {
//	font-size : @font_size * 2.5;
//}
//
//h2, .h2 {
//	font-size : @font_size * 2;
//}
//
//h3, .h3 {
//	font-size : @font_size * 1.25;
//}
//
//h4, .h4 {
//	font-size : @font_size * 1.15;
//}
//
//h5, .h5 {
//	font-size : @font_size * 1.075;
//}
//
//h6, .h6 {
//	font-size : @font_size;
//}

/**
 * Basic form styles
 */
label {
	display       : block;
	float         : left;
	width         : 20%;
	text-align    : right;
	padding-right : @font_size;
	margin-top    : @font_size * 0.25;
	color         : @body;
	line-height   : @font_size * 2;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
	color         : @body;
	border-color  : @input_stroke;
	outline       : 0 none;
	width         : 70%;

	margin-bottom : @font_size * 0.25;
	margin-right  : @font_size * 0.25;
	margin-top    : @font_size * 0.25;

	.border-reset();
	.box-shadow(inset 0 @border_width (@border_width * 2) @background);
	.input-size(@font_size * 2; @font_size * 0.1; @font_size * 0.5; @font_size; @font_size; 0);
}

textarea {
	.input-size(@font_size * 10; @font_size * 0.5; @font_size * 0.5; @font_size; @font_size; 0);
}

select {

}

input[type='button'],
input[type='submit'],
input[type='reset'] {
	.border-reset();
	.button-variant(@button_color; @button; @button_stroke);
	.button-size(@font_size * 0.5; @font_size; @font_size; @font_size; @font_size * 0.5);
}

section {
	margin-bottom : @font_size * 2;
}

.panel-heading {
	h1, h2, h3, h4, h5, h6 {
		margin : (@font_size * 0.25) 0;
	}
}

.container {
	width : @font_size * 80;
	//width: 1000px !important;
}

/**************************************
* Global Reusable / Extendable Classes
**************************************/
.fontHandOfSean {
	text-rendering         : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	font-family            : "HandofSean", sans-serif;
}

/**************************************
* Mixins
**************************************/
.borderRightExceptForLastChild(@width: @border_width, @color: @border_color) {
	border-right : @width solid @color;
	&:last-child {
		border-right : 0;
	}
}

/**********************************************************************
* Px to Em - DO NOT USE ANYMORE. NON FUNCTIONAL AND REMAINS ONLY FOR
*            THINGS THAT ALREADY USE IT
**********************************************************************/
// Percentile to adjust for a pixel based value
.fontSize(@size, @lineHeight: inherit) {
	// Vars only used for this mixins
	@basePixelSize : @font_scale / 10;
	// Adjust to match the sites default font size
	@baseEmSize : 1 / @basePixelSize + 0em;

	font-size   : @baseEmSize * (@size + 0em);
	line-height : @lineHeight;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	Dimensions
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.box(@width) when (isnumber(@width)) {
	width : @width + 0px;
}

.box(@width) when not (isnumber(@width)) {
	width : @width;
}

.box(@width, @height, @overflow : inherit) when (isnumber(@width)) and (isnumber(@height)) {
	width    : @width + 0px;
	height   : @height + 0px;
	overflow : @overflow;
}

.box(@width, @height, @overflow : inherit) when (isstring(@width)) and (isnumber(@height)) {
	width    : @width;
	height   : @height + 0px;
	overflow : @overflow;
}

.box(@width, @height, @overflow : inherit) when (isnumber(@width)) and (isstring(@height)) {
	width    : @width + 0px;
	height   : @height;
	overflow : @overflow;
}

.box(@width, @height, @overflow : inherit) when not (isnumber(@width)) and not (isnumber(@height)) {
	width    : @width;
	height   : @height;
	overflow : @overflow;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	Positioning
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.pos(@top, @right, @bottom, @left) when (isnumber(@top)) and (isnumber(@right)) {
	position : absolute;
	top      : @top + 0px;
	right    : @right + 0px;
}

.pos(@top, @right, @bottom, @left) when (isnumber(@top)) and (isnumber(@left)) {
	position : absolute;
	top      : @top + 0px;
	left     : @left + 0px;
}

.pos(@top, @right, @bottom, @left) when (isnumber(@bottom)) and (isnumber(@right)) {
	position : absolute;
	right    : @right + 0px;
	bottom   : @bottom + 0px;
}

.pos(@top, @right, @bottom, @left) when (isnumber(@bottom)) and (isnumber(@left)) {
	position : absolute;
	bottom   : @bottom + 0px;
	left     : @left + 0px;
}

/**************************************
* Reusable / Extendable Classes
**************************************/
.buttonDefault {
	.border-reset();
	.button-variant(@button_color; @button; @button_stroke);
	.button-size(@font_size * 0.5; @font_size; @font_size; @font_size; @font_size * 0.5);
	.styled_button();
	&, &:disabled, &:disabled:hover, &:disabled:active {
		color         : @body4;
		border-radius : 0;
		font-family   : @fontFamilyMyriadProSemibold;
		.fontSize(14);
		padding       : 0.5em 1.5em;
		margin        : 0.5em 0;
	}
}

.basicFormPanel {
	.border-reset();
	.panel-variant(@body5; @body; @background; @body5);
}

.defaultALink {
	.link_underline();
	text-decoration : none;
	font-size       : 0.8em;
	padding-bottom  : 0.025em;
	color           : @colorFont;
	border-color    : @colorFont;
	font-weight     : normal;
	font-family     : @fontFamilyMyriadProSemibold;
}
