/* =WordPress Core
-------------------------------------------------------------- */
@base-margin: @font_size * 0.1;
@inside-margin: 20;
@outside-margin: 0;
@top-margin: 5;
@bottom-margin: @inside-margin;

.alignnone {
	margin : (@base-margin * @top-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @outside-margin);
}

.aligncenter,
div.aligncenter {
	display : block;
	margin  : (@base-margin * @top-margin)
	auto
		(@base-margin * @bottom-margin)
	auto;
}

.alignright {
	float  : right;
	margin : (@base-margin * @top-margin)
		(@base-margin * @outside-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin);
}

.alignleft {
	float  : left;
	margin : (@base-margin * @top-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @outside-margin);
}

.aligncenter {
	display : block;
	margin  : (@base-margin * @top-margin)
	auto
		(@base-margin * @bottom-margin)
	auto;
}

a img.alignright {
	float  : right;
	margin : (@base-margin * @top-margin)
		(@base-margin * @outside-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin);
}

a img.alignnone {
	margin : (@base-margin * @top-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @outside-margin);
}

a img.alignleft {
	float  : left;
	margin : (@base-margin * @top-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @outside-margin);
}

a img.aligncenter {
	display      : block;
	margin-left  : auto;
	margin-right : auto
}

.wp-caption {
	background : @background;
	border     : @stroke @stroke_style @underline_color;
	max-width  : 96%; /* Image does not overflow the content area */
	padding    : (@base-margin * @top-margin)
		(@base-margin * (@inside-margin * 0.15))
		(@base-margin * (@inside-margin * 0.5));
	text-align : center;
}

.wp-caption.alignnone {
	margin : (@base-margin * @top-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin)
	@outside-margin;
}

.wp-caption.alignleft {
	margin : (@base-margin * @top-margin)
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin)
	@outside-margin;
}

.wp-caption.alignright {
	margin : (@base-margin * @top-margin)
	@outside-margin
		(@base-margin * @inside-margin)
		(@base-margin * @inside-margin);
}

.wp-caption img {
	border    : 0 none;
	height    : auto;
	margin    : 0;
	max-width : 98.5%;
	padding   : 0;
	width     : auto;
}

.wp-caption p.wp-caption-text {
	font-size   : (@font_size * 0.9);
	line-height : (@font_size * 1.1);
	margin      : 0;
	padding     : 0
		(@base-margin * (@inside-margin / 5))
		(@base-margin * (@inside-margin / 4));
}
