<section role="newsletter-signup" class="">
	<div class="panel-heading">
		<h3 data-param="heading">{{form.heading}}</h3>
	</div>
	<div class="panel-body">
		<h4 data-param="subheading">{{form.subheading}}</h4>

		<p data-param="content">{{form.content}}</p>

		<form method="POST" action="{{form.action}}">
			<p><label>Name</label><input type="text" name="Name" size="20"></p>

			<p><label>Email</label><input type="text" name="Email" size="20"></p>

			<p><input type="submit" value="{{form.submitlabel}}" name="Submit"></p>
		</form>
	</div>
</section>
