/**
  * Include mixins, variables and core css
  * to include in a Sprig css file, add the following to the beginning of the template's
  * style.less:
  *   @import url('../include.less');
  */
/******************
 FONTS
******************/
/********************
* HEADER
******************/
/********************
* FORM
******************/
/********************
* Twig
******************/
* {
  -moz-transition: 0.5s opacity ease, 0.25s color ease, 0.5s background-image ease, 0.25s background-color ease;
  -webkit-transition: 0.5s opacity ease, 0.25s color ease, 0.5s background-image ease, 0.25s background-color ease;
  transition: 0.5s opacity ease, 0.25s color ease, 0.5s background-image ease, 0.25s background-color ease;
}
#page-slider {
  -moz-transition: 0.5s left ease;
  -webkit-transition: 0.5s left ease;
  transition: 0.5s left ease;
}
body {
  background: #f7f7f7;
  font-size: 140%;
  color: #59595b;
}
b,
strong {
  font-size: 1em;
}
i,
em {
  font-size: 1em;
}
ul {
  font-size: 1em;
}
li {
  font-size: 1em;
}
a {
  font-size: 1em;
}
a.close {
  text-decoration: none;
  border-bottom: none;
}
a.close:hover {
  text-decoration: none;
  border-bottom: none;
}
/**
 * Basic form styles
 */
label {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 1em;
  margin-top: 0.25em;
  color: #59595b;
  line-height: 2em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  color: #59595b;
  border-color: #999999;
  outline: 0 none;
  width: 70%;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.25em;
  border-width: 0.1em;
  border-style: solid;
  -webkit-box-shadow: inset 0 0.1em 0.2em #f7f7f7;
  box-shadow: inset 0 0.1em 0.2em #f7f7f7;
  height: 2em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0;
}
selectinput[type="text"],
selectinput[type="email"],
selectinput[type="tel"],
selecttextarea,
selectselect {
  height: 2em;
  line-height: 2em;
}
textareainput[type="text"],
textareainput[type="email"],
textareainput[type="tel"],
textareatextarea,
textareaselect,
select[multiple]input[type="text"],
select[multiple]input[type="email"],
select[multiple]input[type="tel"],
select[multiple]textarea,
select[multiple]select {
  height: auto;
}
textarea {
  height: 10em;
  padding: 0.5em 0.5em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0;
}
selecttextarea {
  height: 10em;
  line-height: 10em;
}
textareatextarea,
select[multiple]textarea {
  height: auto;
}
input[type='button'],
input[type='submit'],
input[type='reset'] {
  border-width: 0.1em;
  border-style: solid;
  color: #ffffff;
  background-color: #1f9b46;
  border-color: #1f9b46;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0.5em;
}
input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button'].active,
input[type='submit'].active,
input[type='reset'].active,
.open > .dropdown-toggleinput[type='button'],
.open > .dropdown-toggleinput[type='submit'],
.open > .dropdown-toggleinput[type='reset'] {
  color: #ffffff;
  background-color: #177033;
  border-color: #15682f;
}
input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button'].active,
input[type='submit'].active,
input[type='reset'].active,
.open > .dropdown-toggleinput[type='button'],
.open > .dropdown-toggleinput[type='submit'],
.open > .dropdown-toggleinput[type='reset'] {
  background-image: none;
}
input[type='button'].disabled,
input[type='submit'].disabled,
input[type='reset'].disabled,
input[type='button'][disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
fieldset[disabled] input[type='button'],
fieldset[disabled] input[type='submit'],
fieldset[disabled] input[type='reset'],
input[type='button'].disabled:hover,
input[type='submit'].disabled:hover,
input[type='reset'].disabled:hover,
input[type='button'][disabled]:hover,
input[type='submit'][disabled]:hover,
input[type='reset'][disabled]:hover,
fieldset[disabled] input[type='button']:hover,
fieldset[disabled] input[type='submit']:hover,
fieldset[disabled] input[type='reset']:hover,
input[type='button'].disabled:focus,
input[type='submit'].disabled:focus,
input[type='reset'].disabled:focus,
input[type='button'][disabled]:focus,
input[type='submit'][disabled]:focus,
input[type='reset'][disabled]:focus,
fieldset[disabled] input[type='button']:focus,
fieldset[disabled] input[type='submit']:focus,
fieldset[disabled] input[type='reset']:focus,
input[type='button'].disabled:active,
input[type='submit'].disabled:active,
input[type='reset'].disabled:active,
input[type='button'][disabled]:active,
input[type='submit'][disabled]:active,
input[type='reset'][disabled]:active,
fieldset[disabled] input[type='button']:active,
fieldset[disabled] input[type='submit']:active,
fieldset[disabled] input[type='reset']:active,
input[type='button'].disabled.active,
input[type='submit'].disabled.active,
input[type='reset'].disabled.active,
input[type='button'][disabled].active,
input[type='submit'][disabled].active,
input[type='reset'][disabled].active,
fieldset[disabled] input[type='button'].active,
fieldset[disabled] input[type='submit'].active,
fieldset[disabled] input[type='reset'].active {
  background-color: #1f9b46;
  border-color: #1f9b46;
}
input[type='button'] .badge,
input[type='submit'] .badge,
input[type='reset'] .badge {
  color: #1f9b46;
  background-color: #ffffff;
}
section {
  margin-bottom: 2em;
}
.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
  margin: 0.25em 0;
}
.container {
  width: 80em;
}
/**************************************
* Global Reusable / Extendable Classes
**************************************/
.fontHandOfSean {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "HandofSean", sans-serif;
}
/**************************************
* Mixins
**************************************/
/**********************************************************************
* Px to Em - DO NOT USE ANYMORE. NON FUNCTIONAL AND REMAINS ONLY FOR
*            THINGS THAT ALREADY USE IT
**********************************************************************/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	Dimensions
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	Positioning
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/**************************************
* Reusable / Extendable Classes
**************************************/
.buttonDefault {
  border-width: 0.1em;
  border-style: solid;
  color: #ffffff;
  background-color: #1f9b46;
  border-color: #1f9b46;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0.5em;
}
.buttonDefault:hover,
.buttonDefault:focus,
.buttonDefault:active,
.buttonDefault.active,
.open > .dropdown-toggle.buttonDefault {
  color: #ffffff;
  background-color: #177033;
  border-color: #15682f;
}
.buttonDefault:active,
.buttonDefault.active,
.open > .dropdown-toggle.buttonDefault {
  background-image: none;
}
.buttonDefault.disabled,
.buttonDefault[disabled],
fieldset[disabled] .buttonDefault,
.buttonDefault.disabled:hover,
.buttonDefault[disabled]:hover,
fieldset[disabled] .buttonDefault:hover,
.buttonDefault.disabled:focus,
.buttonDefault[disabled]:focus,
fieldset[disabled] .buttonDefault:focus,
.buttonDefault.disabled:active,
.buttonDefault[disabled]:active,
fieldset[disabled] .buttonDefault:active,
.buttonDefault.disabled.active,
.buttonDefault[disabled].active,
fieldset[disabled] .buttonDefault.active {
  background-color: #1f9b46;
  border-color: #1f9b46;
}
.buttonDefault .badge {
  color: #1f9b46;
  background-color: #ffffff;
}
.buttonDefault:hover {
  color: #ffffff;
  background: #474747;
  border: 0.1em solid #474747;
  outline: none;
}
.buttonDefault:active,
.buttonDefault:active:hover {
  color: #ffffff;
  background: #ff6f30;
  border: 0.1em solid #ff6f30;
  outline: none;
}
.buttonDefault,
.buttonDefault:disabled,
.buttonDefault:disabled:hover,
.buttonDefault:disabled:active {
  color: #59595b;
  background-color: #1f9b46;
  border: 0.1em solid #1f9b46;
  outline: none;
  border-radius: 0.4em;
  padding: 0.75em 2.25em;
  text-transform: uppercase;
}
.buttonDefault:disabled {
  opacity: 0.75;
}
.buttonDefault,
.buttonDefault:disabled,
.buttonDefault:disabled:hover,
.buttonDefault:disabled:active {
  color: #ffffff;
  border-radius: 0;
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
  font-size: 1em;
  line-height: inherit;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}
.basicFormPanel {
  border-width: 0.1em;
  border-style: solid;
  border-color: #b2b2b2;
}
.basicFormPanel > .panel-heading {
  color: #59595b;
  background-color: #f7f7f7;
  border-color: #b2b2b2;
}
.basicFormPanel > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #b2b2b2;
}
.basicFormPanel > .panel-heading .badge {
  color: #f7f7f7;
  background-color: #59595b;
}
.basicFormPanel > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #b2b2b2;
}
.defaultALink {
  display: inline;
  padding-bottom: 0.1em;
  color: #59595b;
  border-bottom: 0.1em solid #8859b9;
  text-decoration: none;
  font-size: 0.8em;
  padding-bottom: 0.025em;
  color: #414141;
  border-color: #414141;
  font-weight: normal;
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
}
.defaultALink:hover {
  text-decoration: none;
  color: #8859b9;
  border-bottom-color: #8859b9;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 0.5em 2em 2em 0em;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.5em auto 2em auto;
}
.alignright {
  float: right;
  margin: 0.5em 0em 2em 2em;
}
.alignleft {
  float: left;
  margin: 0.5em 2em 2em 0em;
}
.aligncenter {
  display: block;
  margin: 0.5em auto 2em auto;
}
a img.alignright {
  float: right;
  margin: 0.5em 0em 2em 2em;
}
a img.alignnone {
  margin: 0.5em 2em 2em 0em;
}
a img.alignleft {
  float: left;
  margin: 0.5em 2em 2em 0em;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #f7f7f7;
  border: 0.1em solid #8859b9;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 0.5em 0.3em 1em;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 0.5em 2em 2em 0;
}
.wp-caption.alignleft {
  margin: 0.5em 2em 2em 0;
}
.wp-caption.alignright {
  margin: 0.5em 0 2em 2em;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 0.9em;
  line-height: 1.1em;
  margin: 0;
  padding: 0 0.4em 0.5em;
}
[role='modal'] .modal-dialog:target {
  opacity: 1 !important;
  pointer-events: auto;
}
[role='modal'] .modal-dialog {
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
[role='modal'] .modal-dialog > div {
  width: 47em;
  position: relative;
  margin: 10% auto;
  background: #fff;
}
[role='modal'] .close {
  opacity: 1;
  background: #606061;
  color: #FFFFFF;
  line-height: 1.5em;
  position: absolute;
  right: -0.75em;
  text-align: center;
  top: -0.75em;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.25em;
  background: #c11b2b;
}
[role='modal'] .close .close-label {
  margin-top: -0.075em;
  display: block;
  font-size: 1.5em;
  font-weight: normal;
}
[role='modal'] .close:hover {
  background: #7e121c;
  opacity: 1;
}
[role='modal'] .close:before {
  content: "\e36b";
  position: absolute;
  left: 50%;
  width: 1.5em;
  margin-left: -0.75em;
  display: block;
  font-size: 0.5em;
  font-family: 'icomoon-ultimate';
}
[role='modal'] .modal-dialog {
  background: rgba(255, 255, 255, 0.8) !important;
}
[role='modal'] .modal-panel {
  border: 4px solid #e41c3f;
  background-color: #fff;
}
[role='modal'] .modal-panel .panel-heading {
  padding: 0 15px;
}
[role='modal'] .modal-panel .panel-heading h2 {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}
[role='modal'] .modal-panel .panel-body {
  padding-top: 0;
}
#modalCorporateVideo [role='modal'] .modal-dialog > div {
  width: 47em;
}
[role="assembly-assistance"] .title {
  color: #248ab6;
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
  font-size: 1.07142857em;
  line-height: 23px;
  font-weight: normal;
  text-transform: uppercase;
}
[role="assembly-assistance"] .stand-box {
  border-bottom: 1px solid #ececec;
  padding-bottom: 5em;
  padding-top: 1.5em;
}
[role="assembly-assistance"] .stand-box .desc {
  margin-bottom: 10px;
  font-size: 1.07142857em;
  line-height: 23px;
}
[role="assembly-assistance"] .stand-box .image-box {
  text-align: center;
}
[role="assembly-assistance"] .stand-box .image-box img {
  max-width: 110px;
  max-height: 180px;
  height: auto;
  width: auto;
  margin: 0 auto;
}
[role="assembly-assistance"] .stand-box a.assembly-link {
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
  color: #464646;
  font-size: 1.14285714em;
  line-height: 23px;
  border-bottom: none;
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}
[role="assembly-assistance"] .stand-box a.assembly-link:hover {
  color: #248ab6;
}
[role="assembly-assistance"] .file-listing {
  display: none;
  padding: 2em 2em 0.5em 0;
  background: #f2f2f2;
}
[role="assembly-assistance"] .file-listing .file-box {
  border-color: #a0a0a0;
  padding-bottom: 2em;
}
[role="assembly-assistance"] .file-listing .file-box .desc {
  font-size: 1.14285714em;
  line-height: 23px;
}
[role="assembly-assistance"] .file-listing .file-box .desc a {
  border: none;
  display: block;
  text-decoration: underline;
  font-size: 0.92857143em;
  line-height: inherit;
}
[role="assembly-assistance"] .file-listing .close-btn {
  font-weight: bold;
  color: #c11b2b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  line-height: inherit;
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
  font-weight: normal;
  cursor: pointer;
  margin: 0 40px;
  padding-bottom: 15px;
  float: left;
  margin-left: 0;
  padding-left: 2.1em;
}
[role="assembly-assistance"] .file-listing .close-btn:hover {
  text-decoration: underline;
}
.video-link a {
  position: relative;
  margin-left: 28px;
}
.video-link a:before {
  width: 20px;
  height: 20px;
  overflow: inherit;
  vertical-align: middle;
  background: url('../../images/video.png') no-repeat;
  padding-right: 2em;
  position: absolute;
  margin-left: -28px;
  content: ' ';
  display: inline-block;
  border: 0;
}
