@import url('../include.less');
@import url('../modal/style.less');

[role="assembly-assistance"] {

	.title {
		color          : #248ab6;
		font-family    : @fontFamilyMyriadProSemibold;
		.fontSize(15, 23px);
		font-weight    : normal;
		text-transform : uppercase;
	}

	.stand-box {
		border-bottom  : 1px solid #ececec;
		padding-bottom : 5em;
		padding-top    : 1.5em;
		.desc {
			margin-bottom:10px;
			.fontSize(15,23px);
		}
		.image-box {
			text-align : center;

		  	img {
			  max-width: 110px;
			  max-height: 180px;
			  height: auto;
			  width: auto;
			  margin: 0 auto;
			  
			}
		}
		a {
			&.assembly-link {
				font-family   : @fontFamilyMyriadProSemibold;
				color         : #464646;
				.fontSize(16, 23px);
				border-bottom : none;
				position      : relative;
				cursor        : pointer;
				text-decoration:underline;
				&:hover {
					color : #248ab6;
				}
			}
		}
	}

	.file-listing {
		display:none;
		padding    : 2em 2em 0.5em 0;
		background : #f2f2f2;

		.file-box {
			border-color   : #a0a0a0;
			padding-bottom : 2em;

			.desc {
				.fontSize(16,23px);
				a {
					border:none;
					display:block;
					text-decoration:underline;
					.fontSize(13);
				}
			}
		}

		.close-btn {
			font-weight     : bold;
			color           : @brand1;
			text-transform  : uppercase;
			text-decoration : none;
			.fontSize(14);
		  font-family: @fontFamilyMyriadProSemibold;
		  font-weight: normal;
			cursor          : pointer;
			margin          : 0 40px;
			padding-bottom  : 15px;
			float           : left;
			margin-left     : 0;
			padding-left:2.1em;
			&:hover {
				text-decoration:underline;
			}
		}

	}

}

.video-link a {
	position    : relative;
	margin-left : 28px;
	&:before {
		.box(20, 20);
		vertical-align : middle;
		background     : url('../../images/video.png') no-repeat;
		padding-right  : 2em;
		position       : absolute;
		margin-left    : -28px;
		// These are needed, else before won't show
		content        : ' ';
		display        : inline-block;
		border         : 0;
	}
}