{% set no_video_message = 'Please check back soon for assembly instructions and/or video for this stand.' %}
<section role="assembly-assistance">
	<div class="row">
		{% for stand in assembly_stands %}
			<div id="{{ stand.post_name }}" class="stand-box stand-holder col-12">
				<div class="image-box col-3">

					<img src="{{stand.image.guid}}" alt="cover_photo" class="" style=""></a>
				</div>

				<div class="desc-box col-9">

					<p class="title">{{stand.post_title}}</p>

					<div class="desc">
						{{stand.post_content}}
					</div>
					<a data-entry="entry-{{loop.index}}" class="assembly-link">Click to view {{stand.post_title}} Assembly Instructions and Video</a>

				</div>

			</div>

			{% if stand.associated_files %}

				<div id="entry-{{loop.index}}" class="file-listing col-12">

					{% for files in stand.associated_files %}
						<div class="file-box col-12">

							<div class="box2 col-12">

								<p class="title">{{files.post_title}}</p>

								<div class="desc"><p>{{files.post_content|raw}}</p> </div>

								{% if files.assembly_file %}
								<div class="link"><p><a href="{{ files.assembly_file.guid }}" target="_blank">CLICK HERE TO DOWNLOAD</a></p></div>
								{% endif %}

								{% if files.assembly_video %}
									<div class="link video-link"><p><a href="#video-{{ files.id }}">CLICK HERE TO VIEW</a></p></div>
									<section role="modal">
										<div id="video-{{files.id}}" class="modal-dialog">
											<div class="modal-panel">
												<a href="#close" title="Close" class="close">
                <span class="close-label">
                </span>
												</a>
												<div class="panel-heading">
													<h2>{{files.post_title}}</h2>
												</div>
												<div class="panel-body">
													<iframe src="http://player.vimeo.com/video/{{files.assembly_video}}?api=1&amp;title=0&amp;portrait=0&amp;badge=0" width="611" height="350" frameborder="0"></iframe>
												</div>
											</div>
										</div>
									</section>
                                {% else %}
                                    <div class="desc"><p>{{ no_video_message }}</p></div>
								{% endif %}

							</div>

						</div>

					{% endfor %}
				</div>

			{% else %}

				<div id="entry-{{loop.index}}" class="file-listing col-12">

					<div class="file-box col-12">

						<div class="box2 col-12">

							<p class="title">Coming Soon</p>

							<div class="desc">{{ no_video_message }}</div>

						</div>

					</div>
				</div>

			{% endif %}

		{% endfor %}


	</div>
</section>
