<section role="history">
	<div class="row entries">
		<div class="col-12">
			<div class="floatingLine"></div>
			{% for entry in entries %}
				{% if entry.title %}
					<div class="entry row">
						<aside class=" col-1">
							<div class="number">
								&nbsp;
								<div class="floatingDash"></div>
							</div>
						</aside>
						<article class="content col-11">
							<h2>{{entry.title|raw}}</h2>

							<div class="body">
								{{entry.content|raw}}
							</div>
						</article>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>