<section role="quality-and-safety">
	<div class="row entries">
		<div class="col-12">
			{% for entry in entries %}
				{% if entry.title %}
					<div class="entry row">
						<article class="content col-12">
							<h2>{{entry.title|raw}}</h2>

							<div class="body">
								{{entry.content|raw}}
							</div>
						</article>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
