<section role="sites-list">
	{% for site in sites %}
		<article class="site site-{{site.id}} site-{{site.slug}}">

			<p><a href="/{{site.slug}}">{{site.name|raw}}</a> {{site.description|raw}}</p>
		</article>
	{% endfor %}
</section>
