<section role="content">
	<article class="staff staff-{{staff_id}} post-{{post_name}}">
		<h2 role="staff-title">{{post_title}}</h2>

		<div class="back"><a href="/meet-the-staff" class="selected">Back to team page</a></div>
		<div class="subheading">{{job_title}}<span class="email"><a href="#modal-email-staff">Email</a></span></div>
		{% if post_content %}
			<p>{{post_content|raw}}</p>
		{% endif %}
	</article>

</section>
