@import url('../include.less');

@themeFolder : '../../';

.bucketColor(@color1, @color2, @color3) {

	.bucket, .bucket-content {
		background : @color1;
		.bucket-heading {
			background : @color2;
		}
		.bucket-more-info {
			background : @color3;

		}
		.more-info-close {
			background : @color3 url('@{themeFolder}images/buckets/close-arrow.png') no-repeat 50% 0%;
		}
	}
	.more-info-open {
		background : @color1 url('@{themeFolder}images/buckets/open-arrow.png') no-repeat center 27px;
	}
}

[role="bucket"] {

	[data-param="title"] {

	}
	[data-param="image"] {
		img {

		}
	}
	[data-param="intro"] {

	}
	[data-param="content"] {
		.more-info-close {

		}
	}
	.more-info-open {

	}

	* {
		color : #fff;
	}
	cursor : pointer;

	&.bucket-theme-yellow {
		.bucketColor(#F9A939, #F4B247, #ECA023);
	}
	&.bucket-theme-blue {
		.bucketColor(#1F9CD5, #248AB6, #248AB6);
	}
	&.bucket-theme-green {
		.bucketColor(#30A73A, #40BE46, #2D9F46);
	}
	&.bucket-theme-orange {
		.bucketColor(#FA7134, #E46433, #E66C34);
	}
	&.bucket-theme-red {
		.bucketColor(#CC0814, #DA272C, #DA272C);
	}
	&.bucket-theme-purple {
		.bucketColor(#6B1590, #8220A9, #8220A9);
	}

	&.bucket-theme-blue {
		.bucket {
			.bucket-content, .more-info-open {
				p {
					float       : left;
					margin-left : 20px;
					width       : 135px;
					margin-top  : 15px
				}

			}
			img {
				right : -10px;
				left  : auto;
			}
		}

	}
	&.bucket-theme-green {
		.bucket {
			.bucket-content, .more-info-open {
				p {
					float       : left;
					margin-left : 20px;
				}

			}
			img {
				left  : auto;
				right : -10px;
				top   : 12px;
			}
		}

	}
	&.bucket-theme-orange {
		.bucket {
			.bucket-content, .more-info-open {
				p {
					float       : left;
					margin-left : 15px;
					left        : auto;
					right       : -10px;
					top         : 12px;
					margin-top  : 0;
					width       : 175px;
				}

			}
			img {
				left  : auto;
				right : -20px;
				top   : 77px;
			}
		}

	}
	&.bucket-theme-red {
		.bucket {
			.bucket-content, .more-info-open {
				p {
					float       : left;
					margin-left : 15px;
					left        : auto;
					right       : -10px;
					top         : 12px;
					margin-top  : 0;
					width       : 175px;
				}
			}
			img {
				left  : auto;
				right : -20px;
				top   : 77px;
			}
		}

	}
	&.bucket-theme-purple {
		.bucket {
			.bucket-content, .more-info-open {
				p {
					float       : left;
					margin-left : 15px;
					left        : auto;
					right       : -10px;
					top         : 12px;
					margin-top  : 0;
					width       : 175px;
				}

			}
			img {
				left  : auto;
				right : -20px;
				top   : 77px;
			}
		}

	}
	&.small {
		max-width : 250px;
		margin    : 0 auto;
		.bucket {
			.bucket-content {
				p {
					float        : right;
					width        : 130px;
					margin-right : 6px;
					margin-top   : 10px;
					top          : 0;
					left         : 0;
					margin-left  : 0;
				}

			}
			img {
				top         : auto;
				bottom      : -20px;
				left        : 0;
				margin-left : 5px;
			}
		}
	}

	&.bucket-theme-orange.small, &.bucket-theme-red.small {
		.bucket {
			.bucket-content {
				p {
					margin-right : 16px;
				}
			}
		}
	}
	&.bucket-theme-red.small {
		.bucket {
			.bucket-content {
				p {
				}
			}
		}
	}
	&.bucket-theme-purple.small {
		.bucket {
			.bucket-content {
				p {
					margin-top : 35px;
				}
			}
		}
	}

	.bucket-holder {
		position   : relative;
		cursor     : pointer;
		text-align : center;
		width      : 256px;
		z-index    : 790;
	}

	.cover-bucket {
		position: absolute;
		top: 10px;
		left: 60px;
		right: 85px;
		bottom: 0;
		border-bottom: none;
		text-decoration: none;
		z-index: 999999;

	}

	.bucket {
		width              : 90%;
		position           : relative;
		background         : #CCC;
		margin-top         : 12px;
		height             : 154px;
		-webkit-box-shadow : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow    : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow         : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

		z-index            : 100;

		&:before, &:after {
			content            : "";
			position           : absolute;
			z-index            : -1;
			-webkit-box-shadow : 0 0 20px rgba(0, 0, 0, 0.4);
			-moz-box-shadow    : 0 0 20px rgba(0, 0, 0, 0.4);
			box-shadow         : 0 0 20px rgba(0, 0, 0, 0.4);
			top                : 10px;
			bottom             : 0px;
			left               : 0;
			right              : 0;

		}
		&:before {
			right             : 10px;
			left              : auto;
			-webkit-transform : skew(8deg) rotate(3deg);
			-moz-transform    : skew(8deg) rotate(3deg);
			-ms-transform     : skew(8deg) rotate(3deg);
			-o-transform      : skew(8deg) rotate(3deg);
			transform         : skew(8deg) rotate(3deg);
		}
		.bucket-heading {

			font-family    : MyriadProRegular, Verdana, Geneva, sans-serif;;
			background     : rgba(255, 255, 255, 0.15);
			top            : 0;
			width          : 100%;
			font-size      : 17px;
			line-height    : 32px;
			text-transform : uppercase;
			font-weight    : bold;
			z-index        : 30;
			text-align     : center;
		}
		img {
			float       : left;
			margin-left : 5px;
			position    : absolute;
			z-index     : 2;
			left        : 0px;
			top         : 25px;
		}
		.bucket-content {
			height     : 123px;
			width      : 100%;
			display    : block;
			position   : absolute;
			top        : 0;
			box-sizing : border-box;
			margin-top : 32px;
			z-index    : 1;
			p:extend(.fontHandOfSean) {
				padding      : 0;

				margin-top   : 10px;
				margin-right : 6px;

				color        : #FFF;

				text-align   : left;

				font-size    : 17px;
				line-height  : 33px;
				float        : right;
				width        : 130px;

				small {
					line-height    : 13px;
					font-size      : 11px;
					font-family    : helvetica, arial, sans-serif;
					font-weight    : bold;
					text-transform : uppercase;
				}
			}
		}
		&:hover {
			.bucket-more-info {
				top : 154px;
			}
		}
		.bucket-more-info {

			-webkit-transition : 0.5s ease;
			-moz-transition    : 0.5s ease;
			transition         : 0.5s ease;
			width              : 100%;
			position           : absolute;
			top                : 0px;
			left               : 0;
			height             : 154px;
			padding-top        : 26px;
			overflow           : hidden;
			font-size          : 14px;
			box-sizing         : border-box;
			z-index            : -1;
			&, * {
				text-align : center;
			}

			a {
				color           : #fff;
				border-color    : #fff;
				//text-decoration : underline;

				&:hover {
					color        : #fff;
					border-color : #fff;
				}
			}
			.more-info-close {
				width    : 100%;
				height   : 21px;
				position : absolute;
				bottom   : 0;
				left     : 0;
			}
		}
		.more-info-open {
			height        : 44px;
			width         : 44px;
			position      : absolute;
			bottom        : -21px;
			left          : 50%;
			margin-left   : -22px;
			border-radius : 22px;
			z-index       : -1;
		}
	}

}

#bucket-carousel {
	padding-top : 2em;

	.carousel-inner {
		overflow : visible;
	}
	.carousel-control {
		background  : none;
		border      : 0;
		text-shadow : 0;
	}

	.left {
		span {
			.pos(109, '', '', 0);
		}
	}
	.right {
		span {
			.pos(109, 0, '', '');
		}
	}
}

#bucketContainer {
	margin-bottom : 6em;
}

[role="bucket"] .bucket .bucket-more-info {
	z-index : 1;
}

[role="bucket"] .bucket .bucket-content {
	z-index : 2;
}

[role="bucket"] .bucket .bucket-heading {
	position : relative;
	z-index  : 3;
}

[role="bucket"] .bucket img {
	z-index : 4;
}


