/**
  * Include mixins, variables and core css
  * to include in a Sprig css file, add the following to the beginning of the template's
  * style.less:
  *   @import url('../include.less');
  */
/******************
 FONTS
******************/
/********************
* HEADER
******************/
/********************
* FORM
******************/
/********************
* Twig
******************/
* {
  -moz-transition: 0.5s opacity ease, 0.25s color ease, 0.5s background-image ease, 0.25s background-color ease;
  -webkit-transition: 0.5s opacity ease, 0.25s color ease, 0.5s background-image ease, 0.25s background-color ease;
  transition: 0.5s opacity ease, 0.25s color ease, 0.5s background-image ease, 0.25s background-color ease;
}
#page-slider {
  -moz-transition: 0.5s left ease;
  -webkit-transition: 0.5s left ease;
  transition: 0.5s left ease;
}
body {
  background: #f7f7f7;
  font-size: 140%;
  color: #59595b;
}
b,
strong {
  font-size: 1em;
}
i,
em {
  font-size: 1em;
}
ul {
  font-size: 1em;
}
li {
  font-size: 1em;
}
a {
  font-size: 1em;
}
a.close {
  text-decoration: none;
  border-bottom: none;
}
a.close:hover {
  text-decoration: none;
  border-bottom: none;
}
/**
 * Basic form styles
 */
label {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 1em;
  margin-top: 0.25em;
  color: #59595b;
  line-height: 2em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  color: #59595b;
  border-color: #999999;
  outline: 0 none;
  width: 70%;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.25em;
  border-width: 0.1em;
  border-style: solid;
  -webkit-box-shadow: inset 0 0.1em 0.2em #f7f7f7;
  box-shadow: inset 0 0.1em 0.2em #f7f7f7;
  height: 2em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0;
}
selectinput[type="text"],
selectinput[type="email"],
selectinput[type="tel"],
selecttextarea,
selectselect {
  height: 2em;
  line-height: 2em;
}
textareainput[type="text"],
textareainput[type="email"],
textareainput[type="tel"],
textareatextarea,
textareaselect,
select[multiple]input[type="text"],
select[multiple]input[type="email"],
select[multiple]input[type="tel"],
select[multiple]textarea,
select[multiple]select {
  height: auto;
}
textarea {
  height: 10em;
  padding: 0.5em 0.5em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0;
}
selecttextarea {
  height: 10em;
  line-height: 10em;
}
textareatextarea,
select[multiple]textarea {
  height: auto;
}
input[type='button'],
input[type='submit'],
input[type='reset'] {
  border-width: 0.1em;
  border-style: solid;
  color: #ffffff;
  background-color: #1f9b46;
  border-color: #1f9b46;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0.5em;
}
input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button'].active,
input[type='submit'].active,
input[type='reset'].active,
.open > .dropdown-toggleinput[type='button'],
.open > .dropdown-toggleinput[type='submit'],
.open > .dropdown-toggleinput[type='reset'] {
  color: #ffffff;
  background-color: #177033;
  border-color: #15682f;
}
input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active,
input[type='button'].active,
input[type='submit'].active,
input[type='reset'].active,
.open > .dropdown-toggleinput[type='button'],
.open > .dropdown-toggleinput[type='submit'],
.open > .dropdown-toggleinput[type='reset'] {
  background-image: none;
}
input[type='button'].disabled,
input[type='submit'].disabled,
input[type='reset'].disabled,
input[type='button'][disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
fieldset[disabled] input[type='button'],
fieldset[disabled] input[type='submit'],
fieldset[disabled] input[type='reset'],
input[type='button'].disabled:hover,
input[type='submit'].disabled:hover,
input[type='reset'].disabled:hover,
input[type='button'][disabled]:hover,
input[type='submit'][disabled]:hover,
input[type='reset'][disabled]:hover,
fieldset[disabled] input[type='button']:hover,
fieldset[disabled] input[type='submit']:hover,
fieldset[disabled] input[type='reset']:hover,
input[type='button'].disabled:focus,
input[type='submit'].disabled:focus,
input[type='reset'].disabled:focus,
input[type='button'][disabled]:focus,
input[type='submit'][disabled]:focus,
input[type='reset'][disabled]:focus,
fieldset[disabled] input[type='button']:focus,
fieldset[disabled] input[type='submit']:focus,
fieldset[disabled] input[type='reset']:focus,
input[type='button'].disabled:active,
input[type='submit'].disabled:active,
input[type='reset'].disabled:active,
input[type='button'][disabled]:active,
input[type='submit'][disabled]:active,
input[type='reset'][disabled]:active,
fieldset[disabled] input[type='button']:active,
fieldset[disabled] input[type='submit']:active,
fieldset[disabled] input[type='reset']:active,
input[type='button'].disabled.active,
input[type='submit'].disabled.active,
input[type='reset'].disabled.active,
input[type='button'][disabled].active,
input[type='submit'][disabled].active,
input[type='reset'][disabled].active,
fieldset[disabled] input[type='button'].active,
fieldset[disabled] input[type='submit'].active,
fieldset[disabled] input[type='reset'].active {
  background-color: #1f9b46;
  border-color: #1f9b46;
}
input[type='button'] .badge,
input[type='submit'] .badge,
input[type='reset'] .badge {
  color: #1f9b46;
  background-color: #ffffff;
}
section {
  margin-bottom: 2em;
}
.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
  margin: 0.25em 0;
}
.container {
  width: 80em;
}
/**************************************
* Global Reusable / Extendable Classes
**************************************/
.fontHandOfSean,
[role="bucket"] .bucket .bucket-content p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "HandofSean", sans-serif;
}
/**************************************
* Mixins
**************************************/
/**********************************************************************
* Px to Em - DO NOT USE ANYMORE. NON FUNCTIONAL AND REMAINS ONLY FOR
*            THINGS THAT ALREADY USE IT
**********************************************************************/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	Dimensions
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------
	Positioning
----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/**************************************
* Reusable / Extendable Classes
**************************************/
.buttonDefault {
  border-width: 0.1em;
  border-style: solid;
  color: #ffffff;
  background-color: #1f9b46;
  border-color: #1f9b46;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1em;
  border-radius: 0.5em;
}
.buttonDefault:hover,
.buttonDefault:focus,
.buttonDefault:active,
.buttonDefault.active,
.open > .dropdown-toggle.buttonDefault {
  color: #ffffff;
  background-color: #177033;
  border-color: #15682f;
}
.buttonDefault:active,
.buttonDefault.active,
.open > .dropdown-toggle.buttonDefault {
  background-image: none;
}
.buttonDefault.disabled,
.buttonDefault[disabled],
fieldset[disabled] .buttonDefault,
.buttonDefault.disabled:hover,
.buttonDefault[disabled]:hover,
fieldset[disabled] .buttonDefault:hover,
.buttonDefault.disabled:focus,
.buttonDefault[disabled]:focus,
fieldset[disabled] .buttonDefault:focus,
.buttonDefault.disabled:active,
.buttonDefault[disabled]:active,
fieldset[disabled] .buttonDefault:active,
.buttonDefault.disabled.active,
.buttonDefault[disabled].active,
fieldset[disabled] .buttonDefault.active {
  background-color: #1f9b46;
  border-color: #1f9b46;
}
.buttonDefault .badge {
  color: #1f9b46;
  background-color: #ffffff;
}
.buttonDefault:hover {
  color: #ffffff;
  background: #474747;
  border: 0.1em solid #474747;
  outline: none;
}
.buttonDefault:active,
.buttonDefault:active:hover {
  color: #ffffff;
  background: #ff6f30;
  border: 0.1em solid #ff6f30;
  outline: none;
}
.buttonDefault,
.buttonDefault:disabled,
.buttonDefault:disabled:hover,
.buttonDefault:disabled:active {
  color: #59595b;
  background-color: #1f9b46;
  border: 0.1em solid #1f9b46;
  outline: none;
  border-radius: 0.4em;
  padding: 0.75em 2.25em;
  text-transform: uppercase;
}
.buttonDefault:disabled {
  opacity: 0.75;
}
.buttonDefault,
.buttonDefault:disabled,
.buttonDefault:disabled:hover,
.buttonDefault:disabled:active {
  color: #ffffff;
  border-radius: 0;
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
  font-size: 1em;
  line-height: inherit;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}
.basicFormPanel {
  border-width: 0.1em;
  border-style: solid;
  border-color: #b2b2b2;
}
.basicFormPanel > .panel-heading {
  color: #59595b;
  background-color: #f7f7f7;
  border-color: #b2b2b2;
}
.basicFormPanel > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #b2b2b2;
}
.basicFormPanel > .panel-heading .badge {
  color: #f7f7f7;
  background-color: #59595b;
}
.basicFormPanel > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #b2b2b2;
}
.defaultALink {
  display: inline;
  padding-bottom: 0.1em;
  color: #59595b;
  border-bottom: 0.1em solid #8859b9;
  text-decoration: none;
  font-size: 0.8em;
  padding-bottom: 0.025em;
  color: #414141;
  border-color: #414141;
  font-weight: normal;
  font-family: 'MyriadProSemibold', Verdana, Geneva, sans-serif;
}
.defaultALink:hover {
  text-decoration: none;
  color: #8859b9;
  border-bottom-color: #8859b9;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 0.5em 2em 2em 0em;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.5em auto 2em auto;
}
.alignright {
  float: right;
  margin: 0.5em 0em 2em 2em;
}
.alignleft {
  float: left;
  margin: 0.5em 2em 2em 0em;
}
.aligncenter {
  display: block;
  margin: 0.5em auto 2em auto;
}
a img.alignright {
  float: right;
  margin: 0.5em 0em 2em 2em;
}
a img.alignnone {
  margin: 0.5em 2em 2em 0em;
}
a img.alignleft {
  float: left;
  margin: 0.5em 2em 2em 0em;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #f7f7f7;
  border: 0.1em solid #8859b9;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 0.5em 0.3em 1em;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 0.5em 2em 2em 0;
}
.wp-caption.alignleft {
  margin: 0.5em 2em 2em 0;
}
.wp-caption.alignright {
  margin: 0.5em 0 2em 2em;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 0.9em;
  line-height: 1.1em;
  margin: 0;
  padding: 0 0.4em 0.5em;
}
[role="bucket"] {
  cursor: pointer;
}
[role="bucket"] * {
  color: #fff;
}
[role="bucket"].bucket-theme-yellow .bucket,
[role="bucket"].bucket-theme-yellow .bucket-content {
  background: #f9a939;
}
[role="bucket"].bucket-theme-yellow .bucket .bucket-heading,
[role="bucket"].bucket-theme-yellow .bucket-content .bucket-heading {
  background: #f4b247;
}
[role="bucket"].bucket-theme-yellow .bucket .bucket-more-info,
[role="bucket"].bucket-theme-yellow .bucket-content .bucket-more-info {
  background: #eca023;
}
[role="bucket"].bucket-theme-yellow .bucket .more-info-close,
[role="bucket"].bucket-theme-yellow .bucket-content .more-info-close {
  background: #eca023 url('../../images/buckets/close-arrow.png') no-repeat 50% 0%;
}
[role="bucket"].bucket-theme-yellow .more-info-open {
  background: #f9a939 url('../../images/buckets/open-arrow.png') no-repeat center 27px;
}
[role="bucket"].bucket-theme-blue .bucket,
[role="bucket"].bucket-theme-blue .bucket-content {
  background: #1f9cd5;
}
[role="bucket"].bucket-theme-blue .bucket .bucket-heading,
[role="bucket"].bucket-theme-blue .bucket-content .bucket-heading {
  background: #248ab6;
}
[role="bucket"].bucket-theme-blue .bucket .bucket-more-info,
[role="bucket"].bucket-theme-blue .bucket-content .bucket-more-info {
  background: #248ab6;
}
[role="bucket"].bucket-theme-blue .bucket .more-info-close,
[role="bucket"].bucket-theme-blue .bucket-content .more-info-close {
  background: #248ab6 url('../../images/buckets/close-arrow.png') no-repeat 50% 0%;
}
[role="bucket"].bucket-theme-blue .more-info-open {
  background: #1f9cd5 url('../../images/buckets/open-arrow.png') no-repeat center 27px;
}
[role="bucket"].bucket-theme-green .bucket,
[role="bucket"].bucket-theme-green .bucket-content {
  background: #30a73a;
}
[role="bucket"].bucket-theme-green .bucket .bucket-heading,
[role="bucket"].bucket-theme-green .bucket-content .bucket-heading {
  background: #40be46;
}
[role="bucket"].bucket-theme-green .bucket .bucket-more-info,
[role="bucket"].bucket-theme-green .bucket-content .bucket-more-info {
  background: #2d9f46;
}
[role="bucket"].bucket-theme-green .bucket .more-info-close,
[role="bucket"].bucket-theme-green .bucket-content .more-info-close {
  background: #2d9f46 url('../../images/buckets/close-arrow.png') no-repeat 50% 0%;
}
[role="bucket"].bucket-theme-green .more-info-open {
  background: #30a73a url('../../images/buckets/open-arrow.png') no-repeat center 27px;
}
[role="bucket"].bucket-theme-orange .bucket,
[role="bucket"].bucket-theme-orange .bucket-content {
  background: #fa7134;
}
[role="bucket"].bucket-theme-orange .bucket .bucket-heading,
[role="bucket"].bucket-theme-orange .bucket-content .bucket-heading {
  background: #e46433;
}
[role="bucket"].bucket-theme-orange .bucket .bucket-more-info,
[role="bucket"].bucket-theme-orange .bucket-content .bucket-more-info {
  background: #e66c34;
}
[role="bucket"].bucket-theme-orange .bucket .more-info-close,
[role="bucket"].bucket-theme-orange .bucket-content .more-info-close {
  background: #e66c34 url('../../images/buckets/close-arrow.png') no-repeat 50% 0%;
}
[role="bucket"].bucket-theme-orange .more-info-open {
  background: #fa7134 url('../../images/buckets/open-arrow.png') no-repeat center 27px;
}
[role="bucket"].bucket-theme-red .bucket,
[role="bucket"].bucket-theme-red .bucket-content {
  background: #cc0814;
}
[role="bucket"].bucket-theme-red .bucket .bucket-heading,
[role="bucket"].bucket-theme-red .bucket-content .bucket-heading {
  background: #da272c;
}
[role="bucket"].bucket-theme-red .bucket .bucket-more-info,
[role="bucket"].bucket-theme-red .bucket-content .bucket-more-info {
  background: #da272c;
}
[role="bucket"].bucket-theme-red .bucket .more-info-close,
[role="bucket"].bucket-theme-red .bucket-content .more-info-close {
  background: #da272c url('../../images/buckets/close-arrow.png') no-repeat 50% 0%;
}
[role="bucket"].bucket-theme-red .more-info-open {
  background: #cc0814 url('../../images/buckets/open-arrow.png') no-repeat center 27px;
}
[role="bucket"].bucket-theme-purple .bucket,
[role="bucket"].bucket-theme-purple .bucket-content {
  background: #6b1590;
}
[role="bucket"].bucket-theme-purple .bucket .bucket-heading,
[role="bucket"].bucket-theme-purple .bucket-content .bucket-heading {
  background: #8220a9;
}
[role="bucket"].bucket-theme-purple .bucket .bucket-more-info,
[role="bucket"].bucket-theme-purple .bucket-content .bucket-more-info {
  background: #8220a9;
}
[role="bucket"].bucket-theme-purple .bucket .more-info-close,
[role="bucket"].bucket-theme-purple .bucket-content .more-info-close {
  background: #8220a9 url('../../images/buckets/close-arrow.png') no-repeat 50% 0%;
}
[role="bucket"].bucket-theme-purple .more-info-open {
  background: #6b1590 url('../../images/buckets/open-arrow.png') no-repeat center 27px;
}
[role="bucket"].bucket-theme-blue .bucket .bucket-content p,
[role="bucket"].bucket-theme-blue .bucket .more-info-open p {
  float: left;
  margin-left: 20px;
  width: 135px;
  margin-top: 15px;
}
[role="bucket"].bucket-theme-blue .bucket img {
  right: -10px;
  left: auto;
}
[role="bucket"].bucket-theme-green .bucket .bucket-content p,
[role="bucket"].bucket-theme-green .bucket .more-info-open p {
  float: left;
  margin-left: 20px;
}
[role="bucket"].bucket-theme-green .bucket img {
  left: auto;
  right: -10px;
  top: 12px;
}
[role="bucket"].bucket-theme-orange .bucket .bucket-content p,
[role="bucket"].bucket-theme-orange .bucket .more-info-open p {
  float: left;
  margin-left: 15px;
  left: auto;
  right: -10px;
  top: 12px;
  margin-top: 0;
  width: 175px;
}
[role="bucket"].bucket-theme-orange .bucket img {
  left: auto;
  right: -20px;
  top: 77px;
}
[role="bucket"].bucket-theme-red .bucket .bucket-content p,
[role="bucket"].bucket-theme-red .bucket .more-info-open p {
  float: left;
  margin-left: 15px;
  left: auto;
  right: -10px;
  top: 12px;
  margin-top: 0;
  width: 175px;
}
[role="bucket"].bucket-theme-red .bucket img {
  left: auto;
  right: -20px;
  top: 77px;
}
[role="bucket"].bucket-theme-purple .bucket .bucket-content p,
[role="bucket"].bucket-theme-purple .bucket .more-info-open p {
  float: left;
  margin-left: 15px;
  left: auto;
  right: -10px;
  top: 12px;
  margin-top: 0;
  width: 175px;
}
[role="bucket"].bucket-theme-purple .bucket img {
  left: auto;
  right: -20px;
  top: 77px;
}
[role="bucket"].small {
  max-width: 250px;
  margin: 0 auto;
}
[role="bucket"].small .bucket .bucket-content p {
  float: right;
  width: 130px;
  margin-right: 6px;
  margin-top: 10px;
  top: 0;
  left: 0;
  margin-left: 0;
}
[role="bucket"].small .bucket img {
  top: auto;
  bottom: -20px;
  left: 0;
  margin-left: 5px;
}
[role="bucket"].bucket-theme-orange.small .bucket .bucket-content p,
[role="bucket"].bucket-theme-red.small .bucket .bucket-content p {
  margin-right: 16px;
}
[role="bucket"].bucket-theme-purple.small .bucket .bucket-content p {
  margin-top: 35px;
}
[role="bucket"] .bucket-holder {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 256px;
  z-index: 790;
}
[role="bucket"] .cover-bucket {
  position: absolute;
  top: 10px;
  left: 60px;
  right: 85px;
  bottom: 0;
  border-bottom: none;
  text-decoration: none;
  z-index: 999999;
}
[role="bucket"] .bucket {
  width: 90%;
  position: relative;
  background: #CCC;
  margin-top: 12px;
  height: 154px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  z-index: 100;
}
[role="bucket"] .bucket:before,
[role="bucket"] .bucket:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 10px;
  bottom: 0px;
  left: 0;
  right: 0;
}
[role="bucket"] .bucket:before {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
[role="bucket"] .bucket .bucket-heading {
  font-family: MyriadProRegular, Verdana, Geneva, sans-serif;
  background: rgba(255, 255, 255, 0.15);
  top: 0;
  width: 100%;
  font-size: 17px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 30;
  text-align: center;
}
[role="bucket"] .bucket img {
  float: left;
  margin-left: 5px;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 25px;
}
[role="bucket"] .bucket .bucket-content {
  height: 123px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  margin-top: 32px;
  z-index: 1;
}
[role="bucket"] .bucket .bucket-content p {
  padding: 0;
  margin-top: 10px;
  margin-right: 6px;
  color: #FFF;
  text-align: left;
  font-size: 17px;
  line-height: 33px;
  float: right;
  width: 130px;
}
[role="bucket"] .bucket .bucket-content p small {
  line-height: 13px;
  font-size: 11px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
[role="bucket"] .bucket:hover .bucket-more-info {
  top: 154px;
}
[role="bucket"] .bucket .bucket-more-info {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  height: 154px;
  padding-top: 26px;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
  z-index: -1;
}
[role="bucket"] .bucket .bucket-more-info,
[role="bucket"] .bucket .bucket-more-info * {
  text-align: center;
}
[role="bucket"] .bucket .bucket-more-info a {
  color: #fff;
  border-color: #fff;
}
[role="bucket"] .bucket .bucket-more-info a:hover {
  color: #fff;
  border-color: #fff;
}
[role="bucket"] .bucket .bucket-more-info .more-info-close {
  width: 100%;
  height: 21px;
  position: absolute;
  bottom: 0;
  left: 0;
}
[role="bucket"] .bucket .more-info-open {
  height: 44px;
  width: 44px;
  position: absolute;
  bottom: -21px;
  left: 50%;
  margin-left: -22px;
  border-radius: 22px;
  z-index: -1;
}
#bucket-carousel {
  padding-top: 2em;
}
#bucket-carousel .carousel-inner {
  overflow: visible;
}
#bucket-carousel .carousel-control {
  background: none;
  border: 0;
  text-shadow: 0;
}
#bucket-carousel .left span {
  position: absolute;
  top: 109px;
  left: 0px;
}
#bucket-carousel .right span {
  position: absolute;
  top: 109px;
  right: 0px;
}
#bucketContainer {
  margin-bottom: 6em;
}
[role="bucket"] .bucket .bucket-more-info {
  z-index: 1;
}
[role="bucket"] .bucket .bucket-content {
  z-index: 2;
}
[role="bucket"] .bucket .bucket-heading {
  position: relative;
  z-index: 3;
}
[role="bucket"] .bucket img {
  z-index: 4;
}
