<a href="{{linkUrl}}" class="">
<div role="bucket" class="holder bucket-holder bucket-theme-{{color}} {% if small %}small{% endif %}">

	<div class="bucket">
		<div data-param="heading" class="bucket-heading">
			{{title|raw}}
		</div>
		<img data-param="image" src="{{image}}">

		<div data-param="intro" class="bucket-content">
			<p>{{intro|raw}}</p>
		</div>
		<div data-param="content" class="bucket-more-info">
			<a href="{{linkUrl}}" class="cover-bucket"></a>
			{{content|raw}}&nbsp;
			{% if linkUrl %}
				<a href="{{linkUrl}}" class="selected">{{linkLabel}}</a>
			{% endif %}
			<div class="more-info-close"></div>
		</div>
		<div class="more-info-open"></div>
	</div>
</div>
</a>
